<div class="container p-4">
    <div class="row justify-content-center">
        <h1>Agregar carrera</h1>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <form method="POST" action="/carreras/agregar">
                <div class="form-group">
                    <input type="text" class="form-control" name="carrera" placeholder="Nombre de la carrera" autofocus required />
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
